#ezread-logo {
    width: 15em;
}

nav {
    width: 100%;
    background-color: #004e83;
    color: white;
    padding: 0 3rem 0 3rem;
}

#scene-container {
    max-width: 500px;
    padding: 1rem;
    border-left: 1px solid #4a4a4a;
}

.panel {
    border: 1rem solid #d4d4d4;
    position: relative;
    height: 400px;
    overflow: hidden;
}

#comic-page {
    align-items: stretch;
    padding: 1rem;
}

#text-container,
#text-container>div {
    padding: 1rem;
}

.scene {
    position: relative;
    z-index: 0;
    height: 400px;
}

.character {
    position: absolute;
    z-index: 1;
}

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}
.move {
    position: absolute;
    right: 0;
    width: 3rem;
    z-index: 4;
}

.move svg path {
    stroke: white;
    stroke-width: 3;
}